[Unit]
Description=CamillaDSP amixer parameters
StartLimitIntervalSec=0
PartOf=camilladsp.service
Requires=camilladsp.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/dsp-user/scripts/amixer-set-autosync.sh
SyslogIdentifier=camilladsp-amixer
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
