[Unit]
Description=camilladsp restarter
StartLimitIntervalSec=0
After=camilladsp.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart camilladsp.service

[Install]
WantedBy=multi-user.target
