[Unit]
Description=CamillaDSP Daemon
StartLimitIntervalSec=0
After=syslog.target

[Service]
Type=simple
ExecStartPre=/home/dsp-user/scripts/amixer-set-default.sh
ExecStart=/home/dsp-user/.cargo/bin/camilladsp -p1234 /home/dsp-user/dsp/configuration/output.yaml
Restart=always
RestartSec=5
SyslogIdentifier=camilladsp
User=root
Group=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
