[Unit]
Description=CamillaDSP configuration
StartLimitIntervalSec=0
PartOf=camilladsp.service
Requires=camilladsp.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/dsp-user/configuration.py
Restart=always
RestartSec=5
SyslogIdentifier=camilladsp-configuration
User=root
Group=root

[Install]
WantedBy=multi-user.target
